/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
npm-debug.log
yarn-error.log
package-json.lock
composer.lock
yarn.lock
/public/js/libs
/storage/app/tmp
/storage/app/public/thumbnails
/storage/app/public/images
/storage/app/public/news
/storage/app/public/events
/storage/app/public/slides
