/*******************************
             Page
*******************************/

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100vh;
}

body {
  background: #efefef;
  color: rgba(0, 0, 0, 0.7);
  font-family: $text-font-family;
  font-size: 90%;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  line-height: 150%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}

/*******************************
             Headers
*******************************/

h1,
h2,
h3,
h4,
h5 {
  font-family: $header-font-family;
  font-weight: 500;
  line-height: 1.28571429em;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.71428571rem;
}

h3 {
  font-size: 1.28571429rem;
}

h4 {
  font-size: 1.07142857rem;
}

h5 {
  font-size: 1rem;
}

/*******************************
             Text
*******************************/

p {
  line-height: 1.4285em;
  margin: 0;
}

/* Links */

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  color: #1e70bf;
  text-decoration: none;
}

/*******************************
          Highlighting
*******************************/

/* Site */

::-webkit-selection {
  background-color: #cce2ff;
  color: rgba(0, 0, 0, 0.87);
}

::-moz-selection {
  background-color: #cce2ff;
  color: rgba(0, 0, 0, 0.87);
}

::selection {
  background-color: #cce2ff;
  color: rgba(0, 0, 0, 0.87);
}

/* Form */

textarea::-webkit-selection,
input::-webkit-selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}

textarea::-moz-selection,
input::-moz-selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}

textarea::selection,
input::selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}

/*******************************
          Elements
*******************************/

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  max-width: $content-width-wide;
  padding: 0;
}

.top-line {
  background-image: linear-gradient(to right, #000, #f00, #0f0);
  height: 2.5px;
  width: 100%;
}
