/* Color Palette */

/*
$color1: hsla(198%, 63%, 38%, 1);
$color2: hsla(170%, 40%, 60%, 1);
$color3: hsla(139%, 36%, 78%, 1);
$color4: hsla(71%, 100%, 87%, 1);
$color5: hsla(344%, 100%, 54%, 1);
*/
$color1: rgba(36, 123, 160, 1);
$color2: rgba(112, 193, 179, 1);
$color3: rgba(178, 219, 191, 1);
$color4: rgba(243, 255, 189, 1);
$color5: rgba(255, 22, 84, 1);
$red: rgba(100, 34, 44, 1);
$red-light: rgba(160, 34, 70, 0.5);
$green: rgba(61, 82, 41, 1);
$black: rgba(0, 0, 0, 1);
$primary: rgba(39, 69, 141, 1);
$secondary: rgba(52, 89, 166, 1);

/* Media Queries */
$phone: 20em;
$phone-wide: 30.0625em;
$tablet: 40.0625em;
$tablet-wide: 60.0626em;
$laptop: 64.0625em;
$desktop: 80.0625em;

/* Content Width */
$content-width: 38rem;
$content-width-wide: 62rem;

/* Style Variables */
$text-font-family: 'Open Sans', system-ui, Helvetica, Arial, sans-serif;
$header-font-family: 'Maven Pro', Roboto, system-ui, Helvetica, Arial, sans-serif;
$font: 400 100% / 1.5 $text-font-family;
$font-bold: 700 100% / 1.25 $text-font-family;
