.head {
  width: 100%;
  padding: 2rem;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.03);
  color: $red;

  @media $tablet {
    margin-top: 1rem;
    border-top: 1px solid #e0e0e0;
  }
}
