.navbar {
  display: grid;
  background: $red;
  grid-template-columns: repeat(8, auto);

  &__item {
    position: relative;
    border-left: 1px solid $red-light;

    &:first-child {
      border-left: none;
    }

    &:hover .dropdown {
      display: block;
    }
  }

  &__link {
    display: block;
    padding: 0.8rem 0;
    transition: background-color 200ms ease-in-out;
    color: #ffffff;
    text-align: center;

    &:hover {
      background-color: $red-light;
      color: #ffffff;
    }
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  display: none;
  width: 10rem;
  border: 1px solid #e0e0e0;
  border-top: none;
  border-radius: 0 0 2px 2px;
  background: #ffffff;

  &__item {
    border-top: 1px solid #e0e0e0;
  }

  &__link {
    display: block;
    padding: 0.6rem;
    transition: background-color 40ms ease-in-out, color 40ms ease-in-out;
    font-size: 0.8rem;
    color: #777777;
    white-space: normal;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}
