.navbar {
  display: grid;
  background: $red;
  grid-template-columns: repeat(8, auto);

  @media $tablet {
    display: none;
    grid-template-columns: auto;
  }

  &__item {
    position: relative;
    border-left: 1px solid $red-light;

    @media $tablet {
      border-top: 1px solid $red-light;
      border-left: none;
    }

    &:first-child {
      border-left: none;
    }

    &:hover .dropdown {
      display: block;
    }
  }

  &__link {
    display: block;
    padding: 0.8rem 0;
    transition: background-color 200ms ease-in-out;
    color: #ffffff;
    text-align: center;

    &:hover {
      background-color: $red-light;
      color: #ffffff;
    }
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  width: 10rem;
  border: 1px solid #e0e0e0;
  border-top: none;
  border-radius: 0 0 2px 2px;
  background: #ffffff;

  &__item {
    border-top: 1px solid #e0e0e0;
  }

  &__link {
    display: block;
    padding: 0.6rem;
    transition: background-color 40ms ease-in-out, color 40ms ease-in-out;
    font-size: 0.8rem;
    color: #777777;
    white-space: normal;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}

.toggle {
  display: none;
  margin: 0 auto 1rem auto;
  padding: 0.5rem;
  padding-bottom: 0;
  outline: none;
  border: 0;
  border: 1px solid #dddddd;
  border-bottom: 0;
  background: none;
  cursor: pointer;

  @media $tablet {
    display: block;
  }

  &__bar {
    display: block;
    width: 35px;
    height: 5px;
    margin: 6px 0;
    background-color: #444444;
    transition: 0.4s;
  }

  &--change {
    .toggle__bar {
      &:first-child {
        transform: rotate(-45deg) translate(-8px, 8px);
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:last-child {
        transform: rotate(45deg) translate(-8px, -8px);
      }
    }
  }
}
