.pagination {
  display: inline-block;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background: #f9f9f9;

  .page-item {
    margin: 0 0.25rem;
    border: 1px solid #dddddd;
    transition: background-color 0.3s;
    color: $primary;
    text-decoration: none;

    .page-link {
      display: block;
      padding: 0.5rem 1rem;
    }
  }

  .page-item.active {
    border: 1px solid $primary;
    background-color: $primary;
    color: #ffffff;
  }

  .page-item:hover:not(.active) {
    border-color: $primary;
    background-color: #dddddd;
  }
}
