.slider {
  margin-bottom: -5px;

  .slick-prev {
    left: 0;
    z-index: 50;
  }

  .slick-next {
    right: 0;
  }

  .slide {
    position: relative;

    p,
    a {
      position: absolute;
      z-index: 1100;
      padding: 0.5rem 1rem;

      @media $tablet {
        padding: 0.25 0.4rem;
      }
    }

    p {
      top: 5%;
      left: 4%;
      opacity: 0.5;
      background: #000000;
      font-size: 1.5rem;
      color: #ffffff;

      @media $tablet {
        font-size: 0.8rem;
      }
    }

    a {
      position: absolute;
      right: 5%;
      bottom: 20%;
      opacity: 0.6;
      background: #000000;
      box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
      color: #ffffff;

      @media $tablet {
        font-size: 0.7rem;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}
