/**********************
*        Image        *
***********************/

.image {
  margin: 0;
  padding: 0;
  overflow: hidden;

  img {
    width: auto;
    height: 130px;
    transition: all 500ms ease;

    &:hover {
      opacity: 0.8;
      transform: scale(1.2);
    }
  }

  &--wide {
    img {
      height: 300px;
    }
  }
}

/**********************
*  Shadow spearator   *
***********************/
.shadow-separator {
  width: 100%;
  height: 30px;
  margin: 2rem 0;
  border-top: 1px solid #eeeeee;
  background-image: url('../img/shadow.png');
  background-position: center -1px;
  background-repeat: no-repeat;
}

/**********************
*     Nice heading    *
***********************/

.nice-heading {
  margin: 2rem 0;
  font-weight: 300;
  color: $primary;
  text-align: center;
  text-transform: uppercase;
}

/**********************
*     Subscribe       *
***********************/

.subscribe {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 4rem 0;
  transform-style: preserve-3d;
  background: $primary;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    transform: skewY(190deg);
    background: linear-gradient(-90deg, $primary, $secondary);
  }

  a {
    z-index: 50;
    padding: 0.6rem 2.5rem;
    border: 2px solid $primary;
    border-radius: 5px;
    background: #ffffff;
    font-weight: 600;
    color: $primary;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      border: 2px solid #ffffff;
      background: $primary;
      color: #ffffff;
    }
  }
}

/**********************
*     Button          *
***********************/

.button {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: $primary;
  transition: background-color 100ms ease-out;
  font-size: 0.8rem;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;

  &:hover {
    background-color: silver;
    color: #ffffff;
  }
}

/**********************
*     Border          *
***********************/

.border {
  &--bottom {
    border-bottom: 1px solid #eeeeee;

    &:last-child {
      border-bottom: none;
    }
  }
}

/**********************
*     Border          *
***********************/

.margin {
  &--bottom {
    margin-bottom: 1rem;
  }
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

/**********************
*     Pointer         *
***********************/

.pointer {
  cursor: pointer;
}

.t1 {
  font-size: 1rem;
  line-height: 1.8rem;
  color: #111111;
  text-align: justify;
}

.listtype {
  display: block;
  margin-left: 1rem;
  list-style: disc;
  font-size: 1rem;
  line-height: 1.8rem;
  color: #111111;
}

.empty {
  padding: 2rem;
  color: #111111;
}

.status-message {
  width: 100%;
  padding: 1rem 2rem;
  background: #eaeaea;
  font-size: 1rem;
  color: $red;
}
