.appointments {
  display: flex;
  flex-flow: column;

  &__item {
    display: flex;

    div {
      border-bottom: 1px solid $red-light;
      color: #111;
      flex-basis: 33.33%;
      padding: 0.8rem;
      text-align: left;

      button {
        background: $red;
        border: 1px solid $red;
        padding: 0.4rem 2rem;

        a {
          color: #fff;
        }
      }
    }

    &:nth-child(even) {
      background: #f9f9f9;
    }

    &--header {
      div {
        background: $red-light;
        color: #fff;
        font-weight: 700;
      }
    }
  }
}
