.articles {
  display: flex;
  flex-direction: column;

  &__item {
    border-bottom: 1px solid #eee;
    display: flex;
    padding: 2rem;

    @media (max-width: #{$tablet}) {
      flex-direction: column;
    }

    &:nth-child(even) {
      background: #f9f9f9;
    }

    img {
      height: 200px;
      margin-right: 1rem;
      width: 200px;

      @media (max-width: #{$tablet}) {
        height: auto;
        margin-bottom: 1rem;
        margin-right: 0;
      }

      @media (max-width: #{$phone-wide}) {
        width: 100%;
      }
    }
  }
}
