.boxes {
  display: grid;
  gap: 1rem;
  grid-template-columns: 32% 32% 32%;
  margin-bottom: 2rem;

  @media (max-width: #{$tablet}) {
    grid-template-columns: auto auto;
  }

  @media (max-width: #{$phone-wide}) {
    grid-template-columns: auto;
  }

  &__item {
    background: white;
    display: block;

    &__controls {
      background: #f9f9f9;
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 0.3rem 0;
      text-align: center;
    }

    img {
      height: 200px;
      width: 100%;

      @media (max-width: #{$phone-wide}) {
        height: auto;
      }
    }
  }
}
