.card {
  position: relative;
  height: 100%;
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 2px;
  background: $primary;
  overflow: hidden;
  color: #ffffff;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 170px;
    transform: skewY(310deg);
    background: linear-gradient(-90deg, $secondary, $primary);
  }

  h2,
  p,
  ul {
    position: relative;
    z-index: 250;
  }

  h2 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
  }

  p {
    text-align: center;
  }

  ul {
    text-align: center;
  }
}
