.date {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  @media (max-width: #{$tablet}) {
    flex-direction: row;
  }

  .day,
  .month,
  .year {
    color: #fff;
    font-weight: 600;
    padding: 0.5rem;
    text-align: center;
  }

  .month,
  .year {
    background: $secondary;
    font-size: 0.8rem;
  }

  .day {
    background: $primary;
    font-size: 1.1rem;
  }
}
