.double {
  display: flex;
  justify-content: space-between;

  @media (max-width: #{$tablet}) {
    flex-direction: column;
  }

  &__left {
    flex-basis: 48%;

    @media (max-width: #{$tablet}) {
      order: 2;
    }
  }

  &__right {
    flex-basis: 48%;

    @media (max-width: #{$tablet}) {
      margin-bottom: 1rem;
      order: 1;
    }
  }
}
