.footer {
  background: $red;
  display: flex;

  @media (max-width: #{$tablet}) {
    flex-direction: column;
  }

  &__left {
    flex: 1;
    overflow: hidden;
    padding: 2rem;
    position: relative;
    transform-style: preserve-3d;

    &::before {
      background: linear-gradient(-90deg, $red-light, $red);
      content: '';
      height: 100px;
      left: 0;
      position: absolute;
      top: 0;
      transform: skewY(150deg);
      width: 100%;
    }
  }

  &__right {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 2rem;

    @media (max-width: #{$tablet}) {
      flex-wrap: wrap;
    }
  }
}

.column {
  position: relative;
  z-index: 50;

  @media (max-width: #{$phone-wide}) {
    &:last-child {
      margin-top: 2rem;
    }
  }

  &__head {
    color: #fefefe;
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 0.5rem;
  }

  &__body {
    color: #ddd;

    p {
      background: $red;
      font-size: 0.9rem;
      line-height: 1.5rem;
      padding: 0.5rem 0;
    }

    form {
      margin-right: 1rem;
      margin-top: 1.5rem;

      input {
        background: transparent;
        border: none;
        border: 1px solid #ccc;
        color: #fff;
        display: block;
        font-size: 0.8rem;
        height: 25px;
        margin-bottom: 0.5rem;
        outline: none;
        padding: 0.3rem 1rem;
        width: auto;

        &::placeholder {
          color: #ccc;
        }
      }

      .has-error {
        border-color: orange;
      }

      button {
        background: $red;
        border: 0;
        border: 1px solid #ccc;
        color: #ccc;
        cursor: pointer;
        font-size: 0.8rem;
        margin: 0;
        outline: none;
        padding: 0.4rem 1.3rem;

        &:hover {
          background: $red-light;
          color: #fff;
        }
      }
    }

    .sm-icons {
      display: grid;
      font-size: 1rem;
      gap: 1.5rem 1rem;
      grid-template-columns: auto auto auto;
      margin-top: 2rem;

      i {
        border: 2px solid #fff;
        border-radius: 50%;
        color: #fff;
        margin-bottom: 0.5rem;
        padding: 0.5rem;

        &:hover {
          background: #fff;
          border-color: $primary;
          color: $primary;
        }
      }
    }
  }
}

.copyrights {
  background: #424242;
  color: #888;
  font-size: 0.7rem;

  p {
    margin: 0;
    padding: 1rem;
    text-align: center;

    span {
      color: #eee;
    }
  }
}
