.form {
  display: flex;
  flex-direction: column;

  &__item {
    padding: 0.8rem 0;

    &--inline {
      align-items: center;
      display: flex;
    }

    p {
      color: red;
      font-size: 0.8rem;
    }
  }

  textarea {
    height: 80px;
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 50%;

    @media (max-width: #{$tablet}) {
      width: 100%;
    }
  }

  .input {
    display: block;
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 250px;
  }

  .file {
    margin-top: 0.5rem;
  }

  .label {
    color: #666;
    display: block;
    font-size: 0.85rem;
    font-weight: 600;

    &--inline {
      margin: 0 0.5rem;
    }

    span {
      color: #ef7411;
    }
  }

  textarea,
  input,
  button {
    outline: none;
  }
}
