.row {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
}

.col {
  flex: 33.33%;
  flex-flow: column;

  @media (max-width: #{$tablet}) {
    flex: 100%;
    margin: 1rem 0;
  }

  &--full {
    flex: 100%;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  padding: 0.5rem;

  @media (max-width: #{$tablet}) {
    grid-template-columns: 100%;
  }

  .grid__item {
    background: #ddd;
    border: 1px solid #ccc;
    margin: 0.5rem;
    overflow: hidden;
    position: relative;

    &:hover {
      p {
        display: block;
      }

      img {
        opacity: 0.9;
      }
    }

    p {
      background: #000;
      bottom: 0;
      color: #fff;
      display: none;
      font-size: 0.7rem;
      font-weight: 600;
      opacity: 0.6;
      padding: 0.2rem 0.4rem;
      position: absolute;
      z-index: 50;
    }
  }
}
