.header {
  align-items: center;
  display: flex;
  padding: 0.5rem 1rem;
  width: 100%;

  @media (max-width: #{$tablet}) {
    flex-direction: column;
    padding: 0;
  }

  &__left {
    .logo {
      img {
        height: 120.8px;
        width: 200px;
      }
    }
  }

  &__right {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-right: 1rem;

    @media (max-width: #{$tablet}) {
      padding-right: 0;
    }
  }
}

.top-links {
  display: flex;
  justify-content: flex-end;

  @media (max-width: #{$tablet}) {
    justify-content: space-around;
    margin: 0.5rem 0 1rem;

    .sm {
      display: none;
    }
  }

  &__main {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;

    a {
      font-size: 0.8rem;
      margin-right: 0.5rem;

      &::after {
        color: #aaa;
        content: '|';
        margin-left: 0.5rem;
      }

      &:last-child {
        background: $color1;
        border: 1px solid $color1;
        border-radius: 5px;
        color: #fff;
        margin-right: 0;
        padding: 0 0.5rem;

        &:hover {
          background: #fff;
          color: $color1;
        }

        &::after {
          content: none;
          margin-left: 0;
        }
      }
    }
  }
}

.top-search {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  @media (max-width: #{$tablet}) {
    display: none;
  }

  &__main {
    align-items: center;
    display: flex;

    input,
    button {
      height: 25px;
      margin: 0;
      outline: none;
    }

    input {
      border: 1px solid #ddd;
      font-size: 0.8rem;
      padding: 0 0.8rem;
    }

    button {
      background: $primary;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 0.6rem;
      font-weight: bold;
      padding: 0 1rem;

      &:hover {
        background: $secondary;
      }
    }
  }
}
