.headlines-list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-bottom: 2rem;
  padding: 0 1rem;

  @media (max-width: #{$tablet}) {
    grid-template-columns: 50% 50%;
  }
}

.headline {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  position: relative;

  &__head {
    border-bottom: 3px solid $primary;
  }

  &__body {
    display: flex;
    flex-direction: column;

    &__heading {
      font-size: 0.9rem;
      font-weight: 600;
      margin: 0.5rem 0;
      min-height: 40px;
      text-transform: uppercase;
    }

    &__content {
      display: flex;

      @media (max-width: #{$tablet}) {
        flex-direction: column;
      }

      p {
        font-size: 0.88rem;
        margin-bottom: 1.5rem;
        margin-left: 1rem;
        text-align: justify;

        @media (max-width: #{$tablet}) {
          margin-left: 0;
        }
      }
    }

    &__readmore {
      background: #aaa;
      bottom: 0;
      color: #fff;
      padding: 0.25rem 0.5rem;
      position: absolute;
      right: 0;

      &:hover {
        background: $secondary;
        color: #fff;
      }
    }
  }
}
