.list {
  display: flex;
  flex-direction: column;

  &__item {
    display: grid;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid white;
    color: #444444;
    grid-template-columns: 5% 30% 35% 20% 10%;

    &:nth-child(odd) {
      background: #f9f9f9;
    }

    &__actions {
      display: flex;
      justify-content: space-between;
    }

    &--header {
      border-bottom: 1px solid #dddddd;
      font-weight: 600;
      color: #000000;
    }
  }
}
