.segment {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;

  @media (max-width: #{$tablet}) {
    margin: 3rem 1.5rem;
  }

  &__header {
    border-bottom: 3px solid $primary;
    color: $primary;
    text-transform: uppercase;
  }

  &__body {
    p {
      color: #000;
      font-size: 1.1rem;
      line-height: 2rem;
      text-align: justify;
    }

    ul {
      list-style-type: disc;
      padding: 1rem;
    }
  }
}
