.slider {
  margin-bottom: -5px;
  max-height: 500px;

  .slick-prev {
    left: 0;
    z-index: 50;
  }

  .slick-next {
    right: 0;
  }

  .slide {
    position: relative;

    p,
    a {
      padding: 0.5rem 1rem;
      position: absolute;
      z-index: 1100;

      @media (max-width: #{$tablet}) {
        padding: 0.25 0.4rem;
      }
    }

    p {
      background: #000;
      color: #fff;
      font-size: 1.5rem;
      left: 4%;
      opacity: 0.5;
      top: 5%;

      @media (max-width: #{$tablet}) {
        font-size: 0.8rem;
      }
    }

    a {
      background: #000;
      bottom: 20%;
      box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
      color: #fff;
      opacity: 0.6;
      position: absolute;
      right: 5%;

      @media (max-width: #{$tablet}) {
        font-size: 0.7rem;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}
