@charset 'utf-8';

@import './reset';
@import './normalize';
@import './icons';
@import './settings';
@import './layout';
@import './partials/header';
@import './partials/navbar';
@import './partials/footer';
@import './partials/flex';
@import './partials/buttons';
@import './partials/slider';

.main-blocks {
  display: grid;
  padding: 1rem;
  grid-template-columns: 25% 25% 25% 25%;

  div {
    margin: 1rem;
    padding: 1rem;
    background: #f7f9ef;
  }

  h2 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    text-align: center;
  }

  p {
    text-align: center;
  }

  ul {
    text-align: center;
  }
}

.main-news {
  padding: 1rem;
  padding-top: 0;

  h2 {
    padding: 1rem;
    border-bottom: 2px solid $red;
  }

  .news-blocks {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: auto auto auto;

    .block {
      margin: 1rem;
      padding: 0 1rem;
      background: #f9f9f9;

      .date {
        margin-bottom: 0.5rem;
        padding: 0.25rem 0.5rem;
        background: $red;
        color: white;
      }

      h3 {
        font-size: 0.9rem;
      }

      p {
        font-size: 0.8rem;
      }
    }
  }
}

.gallery-controls {
  margin: 1rem;
  margin-bottom: 0;
  padding: 1rem;
  background: #f7f9ef;
}

.gallery {
  display: grid;
  padding: 0.5rem;
  grid-template-columns: auto auto auto auto;

  &__item {
    margin: 0.5rem;

    img {
      display: block;
    }
  }
}

.appointments {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  padding-top: 4rem;

  &__item {
    display: grid;
    background: #fafafa;
    grid-template-columns: 25% 50% 25%;

    div {
      padding: 0.5rem 0;
      border: 1px solid #efefef;
      text-align: center;

      &:hover {
        background: #ffffff;
      }

      button {
        margin: 0;
        padding: 0.2rem 1rem;
        border: 1px solid #eeeeee;
        color: $red;
        cursor: pointer;

        &:hover {
          color: $green;
        }
      }

      p {
        margin: 0;
        font-size: 0.8rem;
        color: #777777;
      }
    }
  }
}
