/*******************************
             Page
*******************************/

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100vh;
  font-size: 16px;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #efefef;
  overflow-x: hidden;
  font-family: $text-font-family;
  font-size: 90%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.7);
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}

/*******************************
             Headers
*******************************/

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-family: $header-font-family;
  font-weight: 500;
  line-height: 1.28571429em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.71428571rem;
}

h3 {
  font-size: 1.28571429rem;
}

h4 {
  font-size: 1.07142857rem;
}

h5 {
  font-size: 1rem;
}

/*******************************
             Text
*******************************/

p {
  margin: 0;
  line-height: 1.4285em;
}

/* Links */

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  color: #1e70bf;
  text-decoration: none;
}

/*******************************
          Highlighting
*******************************/

/* Site */

::-webkit-selection {
  background-color: #cce2ff;
  color: rgba(0, 0, 0, 0.87);
}

::-moz-selection {
  background-color: #cce2ff;
  color: rgba(0, 0, 0, 0.87);
}

::selection {
  background-color: #cce2ff;
  color: rgba(0, 0, 0, 0.87);
}

/* Form */

textarea::-webkit-selection,
input::-webkit-selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}

textarea::-moz-selection,
input::-moz-selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}

textarea::selection,
input::selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}

/*******************************
          Elements
*******************************/

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  max-width: $content-width-wide;
  margin: 0 auto;
  padding: 0;
  background: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.bar {
  width: 100%;
  padding: 2rem;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.03);
  color: $red;
}

.container {
  display: flex;
  justify-content: space-around;

  @media $tablet {
    flex-direction: column;
  }

  &--center {
    width: 90%;
    margin: 0 auto;
  }

  &__narrow {
    width: 30%;
    min-height: 500px;
    padding: 2rem;
    background: #fcfcfc;

    @media $tablet {
      width: 100%;
    }

    &:first-child {
      border-right: 1px solid #e0e0e0;
      box-shadow: inset -2px 0 0 0 rgba(0, 0, 0, 0.03), inset 0 2px 0 0 rgba(0, 0, 0, 0.03);
    }

    &:last-child {
      border-left: 1px solid #e0e0e0;
      box-shadow: inset 2px 0 0 0 rgba(0, 0, 0, 0.03), inset 0 2px 0 0 rgba(0, 0, 0, 0.03);
    }
  }

  &__wide {
    flex-basis: 70%;
    max-width: 70%;
    min-height: 500px;

    @media $tablet {
      max-width: 100%;
    }

    & > *:first-child {
      margin-top: 0;
    }
  }
}
